
header{
    grid-area: header;
    background-color: lightblue;
    
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: 
    "K K S"
    "R R S"
    
}
img {
    max-width: 100%;
    height: auto;
}
.gridR{
    grid-area: R;
}
.gridS{
    grid-area: S;
}
.gridK{
    grid-area: K;
}

.topnav {
grid-area: topnav; 
}

.content {
grid-area: content; 

}
footer {
grid-area: footer;
}
.sidebar {
    grid-area: sidebar;
}
/* dálkar í content */
.midja {
grid-area: midja; 
}
.vinstri {
grid-area: vinstri;
}
.haegri {
grid-area: haegri; 
}
.kerfi{
    display: grid;
    background-image: -webkit-linear-gradient(rgb(255, 215, 255), lightblue)
}
.topmenu {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;  
}
.gerarett{
    display: grid;
    justify-items: center;
}
.navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation a {
    background: #395870;
    background: linear-gradient(#3c9283, #3c75ee);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
  }
  .navigation a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }
  .navigation li:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
  }

    
/* ====== GRID Template Areas ===== */
    
body {
display: grid;
background-color: lightblue;
grid-gap: 0;
margin: 2em; 
grid-template-areas:
    "header "
    "topnav "
    "content "
    "footer "
}
    
.content {
display: grid; /* grid erfist til barna (child element only) */
grid-gap: 0;
grid-template-areas:
"midja"    
"vinstri"
"haegri"
}
.box {
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.section{
    padding: 2em;
}
h1{
    text-align: center;
}
.gradient{
    background-image: -webkit-linear-gradient(rgb(255, 215, 255), lightblue)
}

.myndir{
    max-width: 100px;
}

@media screen and (min-width: 60em) { 
body { 
    max-width: 58em; 
    margin: 0 auto;
}
.content {
    display: grid; /* grid erfist til barna (child element only) */
    grid-gap: 0;
    grid-template-areas:
    "midja vinstri haegri"
}
























      
