*{
    box-sizing: border-box;
}
h1{
   border: 3px solid blue;
}
.box{
    border: 6px solid plum;
    padding: 2em;
    margin-top: 1em;  
}
.box2{
    border: 5px dashed burlywood;
    padding: 1em;   
} 
li{
    border: 5px dashed green;
    padding: 2em;
    margin: 1em;
}
.class{
    border: 6px dashed purple;
    padding: 2em
}
.inline li {
    display: inline;
    border: 3px dashed blue;
    color: red;
}
.inlineblock li {
    display: inline-block;
}
.box-1-2{
    width:50%;
    border: 1px solid;
    padding: 1em;
}
.box-1-3{
    width:33.33%;
    border: 1px solid;
    padding: 1em;
}
.row div{
    float: left;
}