   
    <footer class="eatass col-3 div-2">
      <nav>
        <h4>Listar DD og UL </h4>
        <dl> <!--Description list -->
          <dt>Nafn</dt>
          <dd>Jökull Freysteinsson</dd>
          <dt>Tölvu póstur</dt>
          <dd>jokull.freysteinsson@gmail.com</dd>
          <dt>Áfangi og braut</dt>
          <dd>VEFÞ1VG05AU, tölvubraut</dd>
          <dt>Skóli</dt>
          <dd>Tækniskólinn</dd>
        </dl>
      </nav>
      <nav>
        <h4>Innri tenglar <em>(relative links)</em></h4>
        <ul>
          <li><a href=" ">Forsíða</a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>
      </nav>
      <nav>
        <h4>Ytri tenglar <em>(absolute links)</em></h4>
        <ul>
          <li>  <!-- Absolute links "target _blank" opnar nýjan glugga í vafranum -->
            <a href="http://learn.shayhowe.com/html-css/setting-backgrounds-and-gradients/#css3-background-properties" target="_blank" title="bagrunnar">Bakgrunnar</a>      
          </li>    
      </nav>
    </footer>
    <p class="">&copy; 2018 </p>
    <a href=" " class=" " title="Efst á síðu"> &#8679; </a>
    <a href="" tilte=""></a>