   
    <footer class="footer">
      <nav>
        <h4>Listar DD og UL </h4>
        <dl> <!--Description list -->
          <dt>Nafn</dt>
          <dd>Jökull Freysteinsson</dd>
          <dt>Tölvu póstur</dt>
          <dd>jokull.freysteinsson@gmail.com</dd>
          <dt>Áfangi og braut</dt>
          <dd>VEFÞ1VG05AU, tölvubraut</dd>
          <dt>Skóli</dt>
          <dd>Tækniskólinn</dd>
        </dl>
      </nav>
      <nav>
        <h4>Innri tenglar <em>(relative links)</em></h4>
        <ul>
          <li><a href=" ">Forsíða</a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>
      </nav>

    </footer>
