*, *:before, *:after {
  box-sizing: border-box; 
}
/*heimild: https://gridbyexample.com/examples/example13/ */

/* ====== GRID Area ====== */
body{
    
  margin: auto;
  font-family: "Open Sans",sans-serif;
  line-height: 1.5;
  display: grid;
  background-color: lightblue;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas:
      "header"
      "content"
      "footer"
}
.topnav {
grid-area: topnav; 
}
header {
grid-area: header;
}
.fuckyou {
grid-area: content; 
}
footer {
grid-area: footer;
}
/* dálkar í content */
.midja {
grid-area: midja; 
}
.vinstri {
grid-area: vinstri;
}
.haegri {
grid-area: haegri; 
}

/* ====== GRID Template Areas ===== */



/* ====== Base litir + padding ====== */

body {
line-height: 1.5em;
}
.topnav {
background: #1c2d1c; 
}
header {
background: green; 
}
footer {
background: lightgreen; 
}
.midja {
background: lightblue;
padding: 1em; 
}
.vinstri {
background: gold;
padding: 1em;  
}
 
.haegri {
background: pink;
padding: 1em;  
}


/* ====== leturstílar ====== */

header h1 {
color: #fff;
line-height: 1.2;
font-weight: normal;
}
.midja h2 {
margin: .7em 0 .8em 0;
}
.midja h4 {
text-align: justify;
margin: .4em 0;
}
.midja p {
text-align: justify;
}
footer{
  padding: 2em;
}
.content{
  padding: 2m;
}
/* ========================================
Efnisyfirlit (mobile)
======================================== */
.topnav ul{
background: #1c2d1c; 
}
.topnav input {
display: none;
}




.topmenu li {
border: 0;
border-bottom: 1px solid lightblue; 
padding: 0;
margin:0;
}
.topmenu li {
border: 0;
padding: 0;
border-bottom: 1px solid lightblue; 
}
.topmenu a {
display: block;     /* ath! */
color: white;
text-decoration: none;
text-align: center;
padding: .4em 1em; 
}
.topmenu a:hover,
.topmenu a:active,
.virkur {
color: black !important;
background-color: lightblue;
}
h1{
  text-align: center;
  

}
/* =======================================
*  myndvinnsla  *
======================================== */

/*  myndir <img> alltaf í 100% stærð munið að vinna og 
  þjappa myndir í photoshop ! */

img, video {
max-width: 100%;
height: auto;
}
img {
display: block; /* losna við inline "whitespace" */
}

figure {
margin:0;   /* ath! í normalize er sjálsfgefið margin 40px. */
border: 1px solid orange;
}
.myndabox {
width: 162px; /* ath! klasinn er með fasta breidd*/
}

/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (min-width: 37.5em) {

  .content {
    display: grid; /* grid erfist til barna (child element only) */
    grid-gap: 0;
    grid-template-areas:
      "vinstri midja haegri";
    grid-template-columns: 1fr 3fr 1fr;
    }
}
/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width: 48em) {  
  .content {
    display: grid; /* grid erfist til barna (child element only) */
    grid-gap: 0;
    grid-template-areas:
      "vinstri midja  haegri";
    grid-template-columns: 1fr 3fr 1fr;
    }
  footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }  
}
  /* ========================================
  Viðmið - breakpoints 60em = 960px +
  ======================================== */

@media screen and (min-width: 60em) { 
  body { 
    max-width: 58em; 
    margin: 0 auto;
  }
  /*
  .content {
    display: grid; 
    grid-gap: 0;
    grid-template-areas:
      "midja vinstri haegri"
    }
  */
  /* grid erfist til barna (child element only) */
}

/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== 

@media screen and (min-width: 80em) { 
  body { 
    max-width: 77em;
    margin: 0 auto;
  }
    .myndabox {

  }
}
*/