

html, body{
    max-width: 60em;
    margin: auto;
    font-family: "Open Sans",monospace;
    line-height: 1.5;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "topnav"
        "content"
        "footer"
}

p, h4 {
    padding: 0.5 1em;
    
}
h4{
    margin-bottom: 0;
    color: lightpink;
}
p {
    margin-top: 0;
    padding-left: 2em;
    padding-right: 2em;
}
header {
    grid-area: header;
    text-align: center;
}
.topnav {
    grid-area: topnav;
    background-color: lightpink;
    padding: 0.5em;
}
.content {
    grid-area: content;
}
footer {
    grid-area: footer;
}
.heagri {
    grid-area: heagri;
}
.midja {
    grid-area: midja;
}
.vinstri {
    grid-area: vinstri;
}
.content {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "vinstri midja heagri"
}

.topmenu a {
    text-decoration: none;
    color: yellow;
    padding: 0.5;
}
.topmenu a:visited {
    color: white;
}
.topmenu a:hover, .topmenu a:active {
    background-color: yellow;
    color: brown
}
.topmenu a.virkur{
    color: yellow;
    background-color: brown;
}
.topmenu{
    justify-content: space-around;
    display: flex;
    flex-flow: row;
}
